body, html {
    height: 100dvh;
    margin: 0;
    display: flex;
    flex-direction: column;
    font-family: 'Fantasque Sans Mono', sans-serif;
    background-color: #f0f0f0;
}

.centered {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
}

footer {
    text-align: center;
    padding: 20px;
    text-decoration: none; 
}

a {
    text-decoration: none; 
    color: #000;
}

.emoji {
    position: absolute;
    user-select: none;
    pointer-events: none;
    opacity: 1;
    transition: opacity 2s ease;
}
